<div class="row container">
  <form class="col s12" [formGroup]="form" (ngSubmit)="addContacto()">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <input
        id="id"
        class="validate"
        type="number"
        formControlName="id"
        required
      />
      <label for="id">Id</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <input
        id="name"
        class="validate"
        type="text"
        formControlName="name"
        required
      />
      <label for="name">Name</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">phone</i>
      <input
        id="phone"
        class="validate"
        type="number"
        formControlName="phone"
        required
      />
      <label for="phone">Phone</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">email</i>
      <input
        id="email"
        class="validate"
        type="email"
        formControlName="email"
        required
      />
      <label for="email">Email</label>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">
      Agregar Contacto
      <i class="material-icons right">add</i>
    </button>
  </form>
</div>
