<div class="row container">
  <form class="col s12" [formGroup]="form" (ngSubmit)="login()">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <input
          id="email"
          class="validate"
          type="email"
          formControlName="email"
          required
        />
        <label for="email">Email</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix">password</i>

        <input
          id="password"
          class="validate"
          type="password"
          formControlName="password"
          required
        />
        <label for="password">Password</label>
      </div>

      <div class="input-field col s6">
        <button
          [disabled]="form.invalid"
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
