<div *ngIf="isAuth()">
  <header>
    <nav class="right-align">
      <div class="container">
        <button class="btn waves-effect waves-light red" (click)="logOut()">
          Salir
        </button>
      </div>
    </nav>
  </header>
</div>

<app-agregar-contacto></app-agregar-contacto>

<div class="container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>NAME</th>
        <th>PHONE</th>
        <th>EMAIL</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let contacto of listContactos; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ contacto.id }}</td>
        <td>{{ contacto.name }}</td>
        <td>{{ contacto.phone }}</td>
        <td>{{ contacto.email }}</td>
        <td>
          <a class="btn-floating btn-small waves-effect waves-light blue">
            <i class="material-icons">edit</i>
          </a>

          <a
            class="btn-floating btn-small waves-effect waves-light red"
            (click)="deleteContacto(i)"
          >
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
